:root {
    --neutral-colors-white: #FFF;
    --neutral-colors-black: #000;
    --dark-grey: #222222;
    --neutral-colors-black-85: #282828;
    --neutral-colors-black-75: #434343;
    --Play: #F70;
}