*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gridContainer {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    width: calc(100vw - 108px);
    margin: 2.5rem auto auto auto;
    height: 90vh;

    .row {
      min-height: 9.375rem;
    }

    .thinRow {
      min-height: 3.125rem;
    }

    .textLeft {
      text-align: left;
    }
}
  
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.5rem 3.25rem auto 3.25rem;
  font-size: 30px;
}