@use 'styles.scss';

.App {
  text-align: center;
   /* Vector */
   background: radial-gradient(50% 50% at 50% 50%, rgba(17, 17, 17, 0) 0%, var(--dark-grey,#222222) 100%);
   background-image:url(../public/bg-vector.svg);
   background-size: 100%;
   background-color:var(--dark-grey,#222222);
   background-blend-mode: color-burn;
   mix-blend-mode: normal;
   position: absolute;
   top:0;
   right:0;
   bottom:0;
   left:0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin:0;
  display: flex;
}

.playerBoard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.scoreInput,
.throwScore {
  margin-top: 1rem;
}

.playerCard .playerName,
.playerCard .playerStats
{
  padding: .2rem;
}

.playListHeader {
  display:flex;
  align-items: flex-start;
}

.playerList {
  list-style-type: none;
  margin:0;
  padding:.5rem 0;
}

.playerList li div {
  padding: .5rem 0;
  display: flex;
  justify-content: space-evenly;
}

.game-type  {
  padding: .5rem;
  border-radius: .2rem;
  background-color: white;
}

.game-type input {
  display:none;
}

.game-type label {
  margin: 0 1rem;
  padding: .5rem;
  border: 1px solid silver;
}
.game-type input:checked+label {
  color: white;
  background-color: rgb(84, 84, 201);
}

.game-form {
  width: 50%;
  border: 1px solid silver;
  border-radius: .5rem;
  margin: auto;
  background-color: rgb(220, 223, 233);
  padding: 1rem;  
}

.playerCard {
  position:absolute;
  z-index: 0;
  color: var(--neutral-colors-white, #FFF);

  .row {
    position: relative;

    &.topRow {
      height:7.1875rem;
    }
  }

  .playerHead {
    text-align:left;

    .inactivePlayerScore {
      position: relative;
      top: -1.25rem;
      color: var(--neutral-colors-white, #FFF);
      font-family: Alumni Sans;
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 700;
      line-height: 80%;
      text-transform: uppercase; 
    }
  }
  .playerStats {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;

  }

  .playerControls {

    .endGame {
      padding: 0.625rem;
      height:8.125rem;
      padding-left: 24%;
      background-repeat: no-repeat;
      background-image:url(../public/endGame.svg);
      background-position: 0;
      color: var(--neutral-colors-white, #FFF);
      font-family: Alumni Sans;
      font-size: 60px;
      font-style: italic;
      font-weight: 700;
      line-height: 80%; 
      text-transform: uppercase;
      border: 1px solid var(--neutral-colors-black-75, #434343);
      background-color: var(--neutral-colors-black-80, #363636);
    }


    table {
      width:100%;
      border-collapse: collapse;
      border: none;
      

      td {
        padding: 0;
      }

    }

    .headingChangeView {
      text-align:left;
      color: var(--neutral-colors-white, #FFF);
      font-family: Alumni Sans;
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 400;
      line-height: 80%;
      text-transform: uppercase; 
      margin-bottom: 3.8125rem;
    }
  }

  & img {
    width:4.7rem;
    height:4.7rem;
  }

  &.active img {
    width: 7.8rem;
    height:7.8rem;
    margin-left:.5rem;
  }
  
  &.inactive  {
    img {
        margin:5.0625rem 0 0 10.375rem;
        text-align: left;
    }
    .playerScore,
    .playerStats,
    .playerControls {
      display: none;
    }
  }
  
  
  & .arrowIcon,
  &.active .arrowIcon {
    width:2rem;
    height: 2rem;
  }
  
  &.active {
    padding: 3.75rem;
    width: calc(100% - 120px); // padding 3.75rem * 2

    z-index:1;
  }

}

.playerTitle,
.playerName {
  font-style: italic;
  font-weight: 400;
  line-height: 80%;
  text-transform: uppercase;
}

.playerName,
.playerTitle,
.playerStats {
  display: none;
}

.playerCard.active .playerStats {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .centerStats {
    position:relative;
    margin: 0 auto;
    width: 50%;
  }

  .throwsCount {
    position:absolute;
    margin:0;  
    top: 3.875rem;
    left: -3.1875rem;
  }
  
  .throwsCount li {
    float:left;
    list-style-type: none;
    height: 2rem;
    width: 3rem;
  }

  
  .playerScore {
    margin: 0;
    text-align: center;
    color: var(--Play, #F70);
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    top: 38%;
  }

}

.playerCard.active .playerName,
.playerCard.active .playerTitle,
.playerCard.active .playerControls   {
  display: block;
}

.playerName h2,
.playerTitle h2
{
  text-align:center;
  margin:0;
  width: 8rem;
}

.playerName h2 {  
  font-size: 1rem;
}

.playerTitle h2 {
  font-size: 1.5rem;
}

.playerAddBtn {
  margin-left: .5rem;
}

.currentThrowScore {
  text-align: center;
  background: var(--neutral-colors-white, #FFF);
  color: var(--neutral-colors-black-85, #282828);
  font-size: 1.5rem;
  margin: 0 .5rem;
}

.throwScore,
.scoreInput {
  position: fixed;
  top:.5rem;
  left:.5rem;
}

.throwScore {
  left:20rem;
}


.playerCard .playerName,
.playerCard .playerStats
{
  padding: .5rem .2rem;
}

.playListHeader {
  display:flex;
  align-items: flex-start;
}

.playerList {
  list-style-type: none;
  margin:0;
  padding:.5rem 0;
}

.playerList li div {
  padding: .5rem 0;
  display: flex;
  justify-content: space-evenly;
}

.game-type  {
  padding: .5rem;
  border-radius: .2rem;
  background-color: var(--neutral-colors-white, #FFF);
}

.game-type input {
  display:none;
}

.game-type label {
  margin: 0 1rem;
  padding: .5rem;
  border: 1px solid silver;
}
.game-type input:checked+label {
  color: var(--neutral-colors-white, #FFF);
}

.game-form {
  width: 50%;
  border-radius: .5rem;
  margin: auto;  
}

.controlPanel {
  bottom: 0;
  left: 2rem;
  right: 2rem;
}
.controlPanel ul {
  display:flex;
}
.controlPanel ul li {
  list-style-type: none;
}


